## Statistics
- is a science of collecting, organizing, analyzing and interpreting data.

## Two main branches of Statistics

### 1. Descriptive Statistics
- describes a sample

![image-20211116073203357](images/image-20211116073203357.png)

#### Common tools of Descriptive Statistics
##### Measures of central tendency
- tell us where the most values fall, or the typical value of a data 
set.

###### 1. Mode
- is the value that shows up te most number of times in a data set. In this case the mode is 5.
- is the most occuring number in a data set.

![image-20211116073203357](images/image-20211116073203357.png)

###### 2. Mean
- or the average, is the sum of all the numbers divided by the number of elements in the sample.
- is the average of all numbers in a data set.

![image-20211116074123420](images/image-20211116074123420.png)

###### 3. Median
- is the middle number of the data set.
- is the middle number in a sorted data set.

![image-20211116074256627](images/image-20211116074256627.png)

##### Measures of dispersion or spread

![image-20211116074729289](images/image-20211116074729289.png)

##### Common measures of dispersion
###### 1. Range
- is a difference between the high and low values.

![image-20211116074954900](images/image-20211116074954900.png)

###### 2. Variance
- measures how far a data set is spread out.

![image-20211118194510985](images/image-20211118194510985.png)

###### 3. Standard Deviation
- measures how far each observed value is from the mean.

![image-20211118194712751](images/image-20211118194712751.png)

![image-20211116075122416](images/image-20211116075122416.png)

![image-20211116075215052](images/image-20211116075215052.png)

**Note**
If the standard deviation is small, the data values are close to the mean value. If itis high, the data values are widely spread out from the mean value.

![image-20211116075642734](images/image-20211116075642734.png)


### 2. Inferential Statistics
- uses the sample data to amke inferences or conclusions about a larger population.



### Statistical Terms and Concepts

### Miniconda
https://docs.conda.io/en/latest/miniconda.html

1. Install miniconda

### Create virtual environment
$ conda create -n myenv jupyter pandas numpy matplotlib

### Activate and Deactivate environment
$ conda deactivate

$ conda activate myenv

### Display all packages installed in your environment
$ conda list 

$ conda list <name of package>

### Display the version of conda
$ conda --version

### Lauch Jupyter Notebook browser
$ jupyter notebook

### Jupyter Notebook Shortcut Keys

![image-20211119151432562](images/image-20211119151432562.png)

#### Function

A **function** is a block of code which only runs when it is called.

You can pass data, known as **_parameters_**, into a function. A function can also **return** data as a result.

This function, **get_meanx*, has one parameter *xkavexx, The value of **m** is passed into the function and returns a result when the function is called.

### Mean Code

In [3]:
def get_mean(ave):
    print("The mean of this list is", ave)
    
    
n_num =[78, 80, 79, 80, 87, 85]
n = len(n_num)

get_sum = sum(n_num)
mean = get_sum / n

m = str(mean)

get_mean(m)

The mean of this list is 81.5

### Median Code

In [17]:
import array as arr

def median(nums):
    nums.sort()
    if len(nums)%2 == 0:
        return int(nums[len(nums)//2-1]+nums[len(nums)//2])/2
    else:
        return nums[len(nums)//2]
    
n_num = [78, 80, 79, 80, 87, 85]
print("Median:", median(n_num))

Median: 80.0

### Variance Code

In [3]:
friends_usage = [5, 4, 3, 5, 8, 2, 5, 2, 5, 8, 10, 8, 7, 9, 10, 5, 7, 5, 7, 5, 4, 3, 5, 8, 4]

def print_friends_usage(friends_usage):
    for usage in friends_usage:
        print(g)
def friends_usage_sum(friends_usage):
    total = 0
    for usage in friends_usage:
        total += usage
    return total
def friends_usage_average(friends_usage):
    sum_of_friends_usage = friends_usage_sum(friends_usage)
    average = sum_of_friends_usage / float(len(friends_usage))
    return average
def friends_usage_variance(scores):
    average = friends_usage_average(scores)
    variance = 0
    for score in scores:
        variance = variance+ (average -score) ** 2
    return variance/len(scores)
v = round(friends_usage_variance(friends_usage),2)
print("Variance:",v)

Variance: 5.14

### Standard Deviation Code

In [4]:
def friends_usage_std_deviation(variance):
    return variance ** 0.5

variance = friends_usage_variance(friends_usage)
s = round(friends_usage_std_deviation(variance) ,2)
print ("Standard deviation:", s)

Standard deviation: 2.27

#### Array and List

An **xxarray** is a type of data structure. To use an array in Python, we need to **import** this data structure from the **array** module.

A **list** is a data structure that's built into Python and holds a collection of items.

This code prints the **_first 5 elements_** of the array friends_usage. In both arrays and lists, the index starts from "0" not "1".

In [4]:
import array as arr

friends_usage = [5, 4, 3, 5, 8, 2, 5, 2, 5, 8, 10, 8, 7, 9, 10, 5, 7, 5, 7, 5, 4, 3, 5, 8, 4]
sample_data = arr.array('i', friends_usage)

print(sample_data[0:5])

# 1st to 6th element

array('i', [5, 4, 3, 5, 8])

This code converts **sample_data array** to an ordinary list with the same items.

In [5]:
from array import *
sample_data_array = array('i',[5, 4, 3, 5, 8])

sample_data_list = sample_data.tolist()

print(sample_data_list)

[5, 4, 3, 5, 8, 2, 5, 2, 5, 8, 10, 8, 7, 9, 10, 5, 7, 5, 7, 5, 4, 3, 5, 8, 4]

### Statistical Functions in Python

### Desctiptive Statistics

In [12]:
import statistics
import array as arr

friends_usage = [5, 4, 3, 5, 8, 2, 5, 2, 5, 8, 10, 8, 7, 9, 10, 5, 7, 5, 7, 5, 4, 3, 5, 8, 4]

sample_data = arr.array("i",friends_usage)
dataset = sample_data[0:5]
sample_data_list = dataset.tolist()

mean = statistics.mean(friends_usage)
mode = statistics.mode(friends_usage)
median = statistics.median(friends_usage)
pstdev = round(statistics.pstdev(friends_usage),2)
pvariance = round(statistics.pvariance(friends_usage),2)
srange = (max(friends_usage)-min(friends_usage))

variance = round(statistics.variance(sample_data_list),2)
stdev = round(statistics.stdev(sample_data_list),2)

print("Descriptive Statistics")
print("Mean:", mean)
print("Mode:", mode)
print("Median:", median)
print("Range:", srange)
print("Population Variance:", pvariance)
print("Population Standard Deviation:", pstdev)
print("Variance:", variance)
print("Standard Deviation:", stdev)

Descriptive Statistics
Mean: 5.76
Mode: 5
Median: 5
Range: 8
Population Variance: 5.14
Population Standard Deviation: 2.27
Variance: 3.5
Standard Deviation: 1.87

### Statistics Method

Python has built-in module that you can use to calculate mathematical statistics of numeric data. Here's a list of some of them.

In [6]:
import statistics

test = [89, 90, 91, 90, 85, 91, 88, 80, 77, 81, 76, 85, 87, 88, 83, 95, 88, 82, 85, 84]

mean = statistics.mean(test)
mode = statistics.mode(test)
median = statistics.median(test)

print("Mean:",mean)
print("Mode:",mode)
print("Median:",median)

Mean: 85.75
Mode: 85
Median: 86.0

### Statistics using Numpy

**Numpy** stands for 'Numerical Python'. 

It's a library that consists of multidimentional array objects and a collection of routines for processing arrays.

### Numpy Statistics

In [8]:
import numpy as np
import array as arr
from scipy import stats

f_usage = [5, 4, 3, 5, 8, 2, 5, 2, 5, 8, 10, 8, 7, 9, 10, 5, 7, 5, 7, 5, 4, 3, 5, 8, 4]

def display_stat():
    print("Mean:", mean)
    print("Median:", median)
    print("Mode:", mode)
    print("Range:", srange)
    print("Population Variance:", pvariance)
    print("Standard Deviation:", pstdev)
    print("Sample variance:", variance)
    print("Sample Standard Deviation:", sdeviation)
    
    
mean = np.mean(f_usage)
median = np.median(f_usage)
pvariance = round(np.var(f_usage),2)
pstdev = round(np.std(f_usage),2)

srange = np.ptp(f_usage)
mode = stats.mode(f_usage)

sample_data = arr.array('i', f_usage)
dataset = sample_data[0:5]
f_usage_s = dataset.tolist()

variance = round(np.var(f_usage_s,ddof=1),2)
sdeviation = round(np.std(f_usage_s,ddof=1),2)

display_stat()

ModuleNotFoundError: No module named 'scipy'

### Descriptive Statistics using Pandas 

**Pandas** is another 3rd party library developed for Python. If NumPy is for numerical computations, Pandas is great for handling data sets. It can analyze big data and make conclusions based on statistical theories.

In [12]:
import pandas as pd

f_usage = [5, 4, 3, 5, 8, 2, 5, 2, 5, 8, 10, 8, 7, 9, 10, 5, 7, 5, 7, 5, 4, 3, 5, 8, 4]

ser = pd.Series(f_usage)
sum_stat = ser.describe()

print(sum_stat)

count    25.000000
mean      5.760000
std       2.314447
min       2.000000
25%       4.000000
50%       5.000000
75%       8.000000
max      10.000000
dtype: float64

In [13]:
df = pd.read_csv("population_by_country_2020.csv")
df

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Display the first 10 rows

In [14]:
first_rows = df.head(10)
first_rows

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
5,Brazil,212821986,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
6,Nigeria,206984347,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
7,Bangladesh,164972348,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
8,Russia,145945524,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
9,Mexico,129166028,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %

### Display the last 10 rows

In [15]:
last_rows = df.tail(10)
last_rows

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
225,Wallis & Futuna,11203,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
226,Nauru,10836,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
227,Saint Barthelemy,9882,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
228,Saint Helena,6080,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
229,Saint Pierre & Miquelon,5789,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Select a row by setting a condition

In [16]:
sel_country = df[df["Country"] == "Philippines"]
sel_country

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
12,Philippines,109830324,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %

### Filter countries using the isin()

In [17]:
sea = df[df["Country"].isin(["Philippines","Thailand","Indonesia","Myanmar","Laos","Vietnam","Brunei","Singapore","Malaysia","Cambodia","Timor-Leste"])]
sea

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
12,Philippines,109830324,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
14,Vietnam,97490013,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
19,Thailand,69830779,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %
25,Myanmar,54473253,0.67 %,364380,83,653290,-163313.0,2.2,29,31 %,0.70 %
44,Malaysia,32436963,1.30 %,416222,99,328550,50000.0,2.0,30,78 %,0.42 %
70,Cambodia,16758448,1.41 %,232423,95,176520,-30000.0,2.5,26,24 %,0.21 %
104,Laos,7293542,1.48 %,106105,32,230800,-14704.0,2.7,24,36 %,0.09 %
113,Singapore,5858322,0.79 %,46005,8358,700,27028.0,1.2,42,N.A.,0.08 %
155,Timor-Leste,1322667,1.96 %,25326,89,14870,-5385.0,4.1,21,33 %,0.02 %
174,Brunei,438202,0.97 %,4194,83,5270,0.0,1.8,32,80 %,0.01 %

### Southeast Asian Countries' Population Summary Statistics

In [18]:
stat = sea["Population (2020)"].describe()
rstat = round(stat,2)
rstat

count    1.100000e+01
mean     6.088674e+07
std      8.071049e+07
min      4.382020e+05
25%      6.575932e+06
50%      3.243696e+07
75%      8.366040e+07
max      2.740216e+08
Name: Population (2020), dtype: float64

### Population ranking of Southeast Asian Countries using sort_values()

In [19]:
import pandas as pd

df = pd.read_csv("population_by_country_2020.csv")

sea = df[df["Country"].isin(["Philippines","Thailand","Indonesia","Myanmar","Laos","Vietnam","Brunei","Singapore","Malaysia","Cambodia","Timor-Leste"])]

sort_sea = sea.sort_values(by="Population (2020)", ascending=False)

sort_sea

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
12,Philippines,109830324,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
14,Vietnam,97490013,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
19,Thailand,69830779,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %
25,Myanmar,54473253,0.67 %,364380,83,653290,-163313.0,2.2,29,31 %,0.70 %
44,Malaysia,32436963,1.30 %,416222,99,328550,50000.0,2.0,30,78 %,0.42 %
70,Cambodia,16758448,1.41 %,232423,95,176520,-30000.0,2.5,26,24 %,0.21 %
104,Laos,7293542,1.48 %,106105,32,230800,-14704.0,2.7,24,36 %,0.09 %
113,Singapore,5858322,0.79 %,46005,8358,700,27028.0,1.2,42,N.A.,0.08 %
155,Timor-Leste,1322667,1.96 %,25326,89,14870,-5385.0,4.1,21,33 %,0.02 %
174,Brunei,438202,0.97 %,4194,83,5270,0.0,1.8,32,80 %,0.01 %

In [20]:
import pandas as pd

df = pd.read_csv("population_by_country_2020.csv")

ea = df[df["Country"].isin(["China","South Korea","North Korea","Macau","Hong Kong","Tibet","Taiwan","Japan","Mongolia"])]

ea

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
10,Japan,126407422,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
27,South Korea,51276977,0.09 %,43877,527,97230,11731.0,1.1,44,82 %,0.66 %
53,North Korea,25798588,0.44 %,112655,214,120410,-5403.0,1.9,35,63 %,0.33 %
56,Taiwan,23824369,0.18 %,42899,673,35410,30001.0,1.2,42,79 %,0.31 %
103,Hong Kong,7507523,0.82 %,60827,7140,1050,29308.0,1.3,45,N.A.,0.10 %
135,Mongolia,3287242,1.65 %,53123,2,1553560,-852.0,2.9,28,67 %,0.04 %

In [21]:
ea.describe()

,Population (2020),Net Change,Density (P/Km²),Land Area (Km²),Migrants (net)
count,7.000000e+00,7.000000e+00,7.000000,7.000000e+00,7.000000
mean,2.397714e+08,7.813759e+05,1293.714286,1.651489e+06,-30293.428571
std,5.310264e+08,2.105116e+06,2587.920640,3.454906e+06,142598.157794
min,3.287242e+06,-3.838400e+05,2.000000,1.050000e+03,-348399.000000
25%,1.566595e+07,4.338800e+04,183.500000,6.632000e+04,-3127.500000
50%,2.579859e+07,5.312300e+04,347.000000,1.204100e+05,11731.000000
75%,8.884220e+07,8.674100e+04,600.000000,9.590575e+05,29654.500000
max,1.440298e+09,5.540090e+06,7140.000000,9.388211e+06,71560.000000